*{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
body {
  margin: 0;
  padding: 0;
}
.header{
  background-color: #000;
  color: #23C3F5;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem 3rem; */
}
.navlink{
  display: inline;
  text-decoration:none;
  padding: 0.5rem 1rem;
  background-color: forestgreen;
  color: #fff;
  transition: all 0.2s ease-out;
}

.navlink:hover{
  text-decoration: none;
  color: #fff;
  background-color: rgb(66, 168, 66);
  transition: all 0.2s ease-out;
}